.join{
    margin-top: 6rem;
    padding: 10px 3rem;
    display: flex;
    align-items: center;
}

.l-join{
    font-size: 50px;
    font-weight: bold;
    color: white;
    flex: 2;
}
.l-join hr{
    position: absolute;
    width: 11rem;
    border: 2px solid orange;
    border-radius: 20%;

}
.t-1{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
}
.t-2{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
}

.r-join{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}
form{
    background-color: antiquewhite;
    display: flex;
    gap: 2rem;
    padding: 12px 10px;
    align-items: center;
}
input{
    padding: 5px 20px;
    background: transparent;
    border: transparent;
    outline: transparent;
}
#join-now{
    padding: 8px 2rem;
    border: none;
    border-radius: 0%;
    color: white;
    background-color: orange;
    font-weight: bold;
    font-size: 15px;
}