.plan-container{
    display: flex;
    flex-direction: column;
    padding: 4px 3px;
    gap: 4rem;
    margin-bottom: 6rem;
    position: relative;
}


.pl-heading{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
}
.h-text1{
     color: transparent;
     font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
     margin-right: 1rem;
}
.h-text3{
     color: transparent;
     font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
     margin-left: 1rem;
}


.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 4rem;
}
.plan{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(166, 95, 95);
    padding: 10px 10px;
    width: 15rem;
    border-radius: 5px;
    transition: 0.4S ease-in-out ;
}
/*.plan:nth-child(2){
    background: rgb(186, 72, 110);
    transform: scale(1.1);
}*/
.plan:hover{
    background: rgb(186, 72, 110);
    transform: scale(1.1);
}


.name{
    font-size: 18px;
    font-weight: bold;
    font-style: italic
}
.prc{
    font-size: 35px;
    font-weight: bold;
}
.ftrs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ftr{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.benefits img{
    width: 15px;
    cursor: pointer;
}


.benefits{
    display: flex;
    align-items: center;
}


button{
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
button:hover{
    background-color: rgb(88, 92, 141);
}
