.whyus{
    margin-top: 5rem;
    padding: 4rem 3rem;
    display: flex;
    gap: 2rem;
}

.posters{
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
}
.posters img{
    object-fit: cover;
}

.po-1{
    height: 28.5rem;
    width: 12rem;
    grid-row: 1/3;
}
.po-2{
    width: auto;
    height: 16rem;
    grid-column: 2/4;
}
.po-3{
    width: 14rem;
    grid-row: 2;
    grid-column: 2/3; 
}
.po-4{
    width: 10rem;
    height: 11.2rem;
    grid-row: 2;
    grid-column: 3/4;
}


.data{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sr{
    font-size: 25px;
    font-weight: bold;
    color: orange;
}
.s-text{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.rw{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
}


.rsn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rsn>div{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
}
.rsn img{
    width: 40px;
}


.prtnrs{
    display: flex;
    gap: 1rem;
}
.prtnrs img{
    width: 2.5rem;
}