* {
  padding: 0;
  margin: 0;
}

body {
  background-color: gray;
  color: white;
  max-width: 100%;
  height: screen;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 100px;
  text-decoration: underline;
  white-space: nowrap;
}

nav {
  background-color: rgb(45, 172, 172);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.pages {
  display: flex;
  gap: 40px;
  margin-right: 10rem;
}