body{
  background-color: bisque;
  display: flex;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
}

.main{
  width: 70vh;
  height: 50vh;
  background-color: rgb(89, 140, 39);
  color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

input{
  height: 30px;
  width: 35vh;
  color: brown;
}
button{
  width: 10vh;
  height: 32px;
  background-color: rgb(217, 142, 62);
  border: none;
  padding: 3px 6px;
  font: bold;
  transition: 0.2s ease-in;
}
button:hover{
  background-color: rgb(14, 14, 239);
}

.sbkch{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 50vh;
  gap: 10px;
  margin-top: 20px;
}

#rg{
  width: 18vh;
}
.cl{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 20vh;
}

#na{
  height: 15px;
}
#ca{
  height: 15px;
}